@use '@/styles/variables/_colors';
@use '@/styles/variables/_font-sizes';

body {
  font-size: font-sizes.$body-size;
  font-weight: 500;
  line-height: font-sizes.$body-line-space;
  color: colors.$black;
}

* {
  transition: all 0.3s ease-out;
}
