@use '@/styles/variables/_colors';
@use '@/styles/variables/_font-sizes';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: font-sizes.$body-size;
  font-weight: 500;
  line-height: font-sizes.$body-line-space;
  color: colors.$black;
  margin: 0;
}

a {
  line-height: 1;
}

* {
  transition: all 0.3s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
