@use '@/styles/variables/colors';
@use '@/styles/variables/font-sizes';
@use '@/styles/helpers/input-rounded-box';

.textField {
  @extend .inputRoundedBox;
  outline: none;
  background: colors.$white;
  caret-color: colors.$orange;

  &:focus-visible {
    border-color: colors.$orange;
  }

  &[data-error='true'] {
    border-color: colors.$error;
  }
}
