@use '@/styles/variables/breakpoints';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: calc(breakpoints.$lg + 4rem); // 4rem to compensate padding
  width: 100%;
  margin: 0 auto;
}
