@use '@/styles/variables/font-sizes';
@use '@/styles/variables/colors';
@use '@/styles/variables/breakpoints';

.header__container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: colors.$soft-black;
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.625rem;
  padding: 1rem 2rem;
  max-width: breakpoints.$lg;
  width: 100%;

  &__hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1rem;
    height: 1rem;
    cursor: pointer;

    @media only screen and (min-width: breakpoints.$md) {
      display: none;
    }

    span {
      display: block;
      height: 3px;
      background-color: colors.$white;
    }

    &[data-mobile-menu-open='true'] {
      span {
        background-color: colors.$orange;
      }
    }

    &:hover {
      span {
        background-color: colors.$soft-orange;
      }
    }
  }

  &__nav {
    &[data-mobile-menu-open='false'] {
      display: none;

      @media only screen and (min-width: breakpoints.$md) {
        display: flex;
      }
    }

    display: flex;
    align-items: center;
    gap: 1rem;
    background: #101010;

    @media only screen and (max-width: breakpoints.$md) {
      padding: 2rem;
      width: 100%;
      flex-direction: column;
      top: 5.625rem;
      left: 0;
      position: absolute;
    }

    @media only screen and (min-width: breakpoints.$md) {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &__link {
      text-transform: uppercase;
      font-size: font-sizes.$subtitle-size;
      letter-spacing: font-sizes.$subtitle-char-space;
      color: colors.$white;
      text-decoration: none;

      &:hover {
        color: colors.$soft-orange;
      }

      &[data-active='true'] {
        color: colors.$orange;
      }
    }
  }

  &__cartButton {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
